{% extends 'partials/base.html' %}
{% block title %} Sellers Overview  {% endblock title %} 

{% block extra_css %}

    <!-- dropzone css -->
    <link href="{{url_for('static' ,filename='libs/dropzone/dropzone.css')}}" rel="stylesheet" type="text/css">

{% endblock extra_css %}

{% block content %} 
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Sellers </h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                        <li class="breadcrumb-item active">Sellers </li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row g-3 mb-4">
                        <div class="col-xxl-auto me-auto">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSellerModal"><i class="bi bi-plus-circle align-baseline me-1"></i> Add Sellers</button>
                        </div><!--end col-->
                        <div class="col-xxl-2">
                            <div class="search-box">
                                <input type="text" class="form-control" id="searchResultList" autocomplete="off" placeholder="Search for sellers & owner name or something..."> <i class="ri-search-line search-icon"></i>
                            </div>
                        </div><!--end col-->
                        <div class="col-xxl-2">
                            <select class="form-control" id="select-category" data-choices data-choices-search-false>
                                <option value="">Select Categories</option>
                                <option value="All">All</option>
                                <option value="Retailer">Retailer</option>
                                <option value="Health & Medicine">Health & Medicine</option>
                                <option value="Manufacturer">Manufacturer</option>
                                <option value="Food Service">Food Service</option>
                                <option value="Computers & Electronics">Computers & Electronics</option>
                            </select>
                        </div><!--end col-->
                    </div><!--end row-->

                    <div class="row" id="seller-list">
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-end mb-3">
                                        <button type="button" class="btn-close text-end" aria-label="Close" data-bs-toggle="modal" data-bs-target="#removeItemModal"></button>
                                    </div>
                                    <div class="avatar-md mx-auto">
                                        <div class="avatar-title bg-light rounded">
                                            <img src="{{url_for('static' ,filename='images/companies/img-1.png')}}" alt="" class="avatar-sm p-1">
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <a href="/apps/ecommerce/seller_overview"><h5>Zibra Fashion</h5></a>
                                        <p class="text-muted mb-0">Lenna Labadie</p>
                                    </div>
                                </div>
                                <div class="row g-0 text-center">
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-end border-dashed">
                                            <h5 class="mb-1">451</h5>
                                            <p class="text-muted text-truncate mb-0">Item Stock</p>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body h-100 px-3 border-top border-bottom border-end border-dashed">
                                            <div id="chart-seller1" data-colors='["--tb-danger"]' dir="ltr"></div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-dashed">
                                            <h5 class="mb-1">$253.32</h5>
                                            <p class="text-muted text-truncate mb-0">Revenue</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body hstack gap-2">
                                    <a href="/apps/ecommerce/seller_overview" class="btn btn-subtle-secondary w-100">View Details</a>
                                    <button type="button" class="btn btn-subtle-primary w-100"  data-bs-toggle="modal" data-bs-target="#addSellerModal">Edit</button>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-end mb-3">
                                        <button type="button" class="btn-close text-end" aria-label="Close" data-bs-toggle="modal" data-bs-target="#removeItemModal"></button>
                                    </div>
                                    <div class="avatar-md mx-auto">
                                        <div class="avatar-title bg-light rounded">
                                            <img src="{{url_for('static' ,filename='images/companies/img-7.png')}}" alt="" class="avatar-sm p-1">
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <a href="/apps/ecommerce/seller_overview">
                                            <h5>Pich Fashion</h5>
                                        </a>
                                        <p class="text-muted mb-0">Jaylon McClure</p>
                                    </div>
                                </div>
                                <div class="row g-0 text-center">
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-end border-dashed">
                                            <h5 class="mb-1">792</h5>
                                            <p class="text-muted text-truncate mb-0">Item Stock</p>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 h-100 border-top border-bottom border-end border-dashed">
                                            <div id="chart-seller2" data-colors='["--tb-success"]' dir="ltr"></div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-dashed">
                                            <h5 class="mb-1">$357.44</h5>
                                            <p class="text-muted text-truncate mb-0">Revenue</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body hstack gap-2">
                                    <a href="/apps/ecommerce/seller_overview" class="btn btn-subtle-secondary w-100">View Details</a>
                                    <button type="button" class="btn btn-subtle-primary w-100"  data-bs-toggle="modal" data-bs-target="#addSellerModal">Edit</button>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-end mb-3">
                                        <button type="button" class="btn-close text-end" aria-label="Close" data-bs-toggle="modal" data-bs-target="#removeItemModal"></button>
                                    </div>
                                    <div class="avatar-md mx-auto">
                                        <div class="avatar-title bg-light rounded">
                                            <img src="{{url_for('static' ,filename='images/companies/img-2.png')}}" alt="" class="avatar-sm p-1">
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <a href="/apps/ecommerce/seller_overview">
                                            <h5>Brand Infosys</h5>
                                        </a>
                                        <p class="text-muted mb-0">Alexandrea Jacobi</p>
                                    </div>
                                </div>
                                <div class="row g-0 text-center">
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-end border-dashed">
                                            <h5 class="mb-1">395</h5>
                                            <p class="text-muted text-truncate mb-0">Item Stock</p>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 h-100 border-top border-bottom border-end border-dashed">
                                            <div id="chart-seller3" data-colors='["--tb-success"]' dir="ltr"></div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-dashed">
                                            <h5 class="mb-1">$153.84</h5>
                                            <p class="text-muted text-truncate mb-0">Revenue</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body hstack gap-2">
                                    <a href="/apps/ecommerce/seller_overview" class="btn btn-subtle-secondary w-100">View Details</a>
                                    <button type="button" class="btn btn-subtle-primary w-100"  data-bs-toggle="modal" data-bs-target="#addSellerModal">Edit</button>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-end mb-3">
                                        <button type="button" class="btn-close text-end" aria-label="Close" data-bs-toggle="modal" data-bs-target="#removeItemModal"></button>
                                    </div>
                                    <div class="avatar-md mx-auto">
                                        <div class="avatar-title bg-light rounded">
                                            <img src="{{url_for('static' ,filename='images/companies/img-3.png')}}" alt="" class="avatar-sm p-1">
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <a href="/apps/ecommerce/seller_overview">
                                            <h5>Themesbrand</h5>
                                        </a>
                                        <p class="text-muted mb-0">Kenyon Nienow</p>
                                    </div>
                                </div>
                                <div class="row g-0 text-center">
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-end border-dashed">
                                            <h5 class="mb-1">841</h5>
                                            <p class="text-muted text-truncate mb-0">Item Stock</p>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 h-100 border-top border-bottom border-end border-dashed">
                                            <div id="chart-seller4" data-colors='["--tb-danger"]' dir="ltr"></div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-dashed">
                                            <h5 class="mb-1">$654.78</h5>
                                            <p class="text-muted text-truncate mb-0">Revenue</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body hstack gap-2">
                                    <a href="/apps/ecommerce/seller_overview" class="btn btn-subtle-secondary w-100">View Details</a>
                                    <button type="button" class="btn btn-subtle-primary w-100"  data-bs-toggle="modal" data-bs-target="#addSellerModal">Edit</button>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-end mb-3">
                                        <button type="button" class="btn-close text-end" aria-label="Close" data-bs-toggle="modal" data-bs-target="#removeItemModal"></button>
                                    </div>
                                    <div class="avatar-md mx-auto">
                                        <div class="avatar-title bg-light rounded">
                                            <img src="{{url_for('static' ,filename='images/companies/img-6.png')}}" alt="" class="avatar-sm p-1">
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <a href="/apps/ecommerce/seller_overview">
                                            <h5>Terry & Jerry</h5>
                                        </a>
                                        <p class="text-muted mb-0">Alvina Smitham</p>
                                    </div>
                                </div>
                                <div class="row g-0 text-center">
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-end border-dashed">
                                            <h5 class="mb-1">357</h5>
                                            <p class="text-muted text-truncate mb-0">Item Stock</p>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body h-100 px-3 border-top border-bottom border-end border-dashed">
                                            <div id="chart-seller5" data-colors='["--tb-success"]' dir="ltr"></div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-dashed">
                                            <h5 class="mb-1">$346.35</h5>
                                            <p class="text-muted text-truncate mb-0">Revenue</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body hstack gap-2">
                                    <a href="/apps/ecommerce/seller_overview" class="btn btn-subtle-secondary w-100">View Details</a>
                                    <button type="button" class="btn btn-subtle-primary w-100"  data-bs-toggle="modal" data-bs-target="#addSellerModal">Edit</button>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-end mb-3">
                                        <button type="button" class="btn-close text-end" aria-label="Close" data-bs-toggle="modal" data-bs-target="#removeItemModal"></button>
                                    </div>
                                    <div class="avatar-md mx-auto">
                                        <div class="avatar-title bg-light rounded">
                                            <img src="{{url_for('static' ,filename='images/companies/img-2.png')}}" alt="" class="avatar-sm p-1">
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <a href="/apps/ecommerce/seller_overview">
                                            <h5>Rotic Fashion</h5>
                                        </a>
                                        <p class="text-muted mb-0">Alvina Smitham</p>
                                    </div>
                                </div>
                                <div class="row g-0 text-center">
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-end border-dashed">
                                            <h5 class="mb-1">1023</h5>
                                            <p class="text-muted text-truncate mb-0">Item Stock</p>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 h-100 border-top border-bottom border-end border-dashed">
                                            <div id="chart-seller6" data-colors='["--tb-success"]' dir="ltr"></div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-dashed">
                                            <h5 class="mb-1">$954.08</h5>
                                            <p class="text-muted text-truncate mb-0">Revenue</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body hstack gap-2">
                                    <a href="/apps/ecommerce/seller_overview" class="btn btn-subtle-secondary w-100">View Details</a>
                                    <button type="button" class="btn btn-subtle-primary w-100"  data-bs-toggle="modal" data-bs-target="#addSellerModal">Edit</button>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-end mb-3">
                                        <button type="button" class="btn-close text-end" aria-label="Close" data-bs-toggle="modal" data-bs-target="#removeItemModal"></button>
                                    </div>
                                    <div class="avatar-md mx-auto">
                                        <div class="avatar-title bg-light rounded">
                                            <img src="{{url_for('static' ,filename='images/companies/img-5.png')}}" alt="" class="avatar-sm p-1">
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <a href="/apps/ecommerce/seller_overview">
                                            <h5>Jorce Medicines</h5>
                                        </a>
                                        <p class="text-muted mb-0">Dallin Schowalter</p>
                                    </div>
                                </div>
                                <div class="row g-0 text-center">
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-end border-dashed">
                                            <h5 class="mb-1">1163</h5>
                                            <p class="text-muted text-truncate mb-0">Item Stock</p>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 h-100 border-top border-bottom border-end border-dashed">
                                            <div id="chart-seller7" data-colors='["--tb-success"]' dir="ltr"></div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-dashed">
                                            <h5 class="mb-1">$992.14</h5>
                                            <p class="text-muted text-truncate mb-0">Revenue</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body hstack gap-2">
                                    <a href="/apps/ecommerce/seller_overview" class="btn btn-subtle-secondary w-100">View Details</a>
                                    <button type="button" class="btn btn-subtle-primary w-100"  data-bs-toggle="modal" data-bs-target="#addSellerModal">Edit</button>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-end mb-3">
                                        <button type="button" class="btn-close text-end" aria-label="Close" data-bs-toggle="modal" data-bs-target="#removeItemModal"></button>
                                    </div>
                                    <div class="avatar-md mx-auto">
                                        <div class="avatar-title bg-light rounded">
                                            <img src="{{url_for('static' ,filename='images/companies/img-7.png')}}" alt="" class="avatar-sm p-1">
                                        </div>
                                    </div>
                                    <div class="text-center mt-4">
                                        <a href="/apps/ecommerce/seller_overview">
                                            <h5>Pich Hub</h5>
                                        </a>
                                        <p class="text-muted mb-0">Dianna Bogan</p>
                                    </div>
                                </div>
                                <div class="row g-0 text-center">
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-end border-dashed">
                                            <h5 class="mb-1">783</h5>
                                            <p class="text-muted text-truncate mb-0">Item Stock</p>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 h-100 border-top border-bottom border-end border-dashed">
                                            <div id="chart-seller8" data-colors='["--tb-danger"]' dir="ltr"></div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-lg-6 col-md-4">
                                        <div class="card-body px-3 border-top border-bottom border-dashed">
                                            <h5 class="mb-1">$312.77</h5>
                                            <p class="text-muted text-truncate mb-0">Revenue</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body hstack gap-2">
                                    <a href="/apps/ecommerce/seller_overview" class="btn btn-subtle-secondary w-100">View Details</a>
                                    <button type="button" class="btn btn-subtle-primary w-100"  data-bs-toggle="modal" data-bs-target="#addSellerModal">Edit</button>
                                </div>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                    
                    <div class="row align-items-center mb-4 justify-content-between text-center text-sm-start" id="pagination-element">
                        <div class="col-sm">
                            <div class="text-muted">
                                Showing <span class="fw-semibold">8</span> of <span class="fw-semibold">13</span> Results
                            </div>
                        </div>
                        <div class="col-sm-auto  mt-3 mt-sm-0">
                            <div class="pagination-block pagination pagination-separated justify-content-center justify-content-sm-end mb-sm-0">
                                <div class="page-item">
                                    <a href="javascript:void(0);" class="page-link" id="page-prev">Previous</a>
                                </div>
                                <span id="page-num" class="pagination"></span>
                                <div class="page-item">
                                    <a href="javascript:void(0);" class="page-link" id="page-next">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="noresult" class="d-none">
                        <div class="text-center py-4">
                            <div class="avatar-md mx-auto mb-4">
                                <div class="avatar-title bg-light text-primary rounded-circle fs-4xl">
                                    <i class="bi bi-search"></i>
                                </div>
                            </div>
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">We've searched more than 150+ sellers We did not find any sellers for you search.</p>
                        </div>
                    </div>
{% endblock content %}

{% block extra_content %}

    <!-- removeItemModal -->
    <div id="removeItemModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" id="close-removemodal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <i class="ph-trash display-5 text-danger"></i>
                        <div class="mt-4 pt-2 mx-4 mx-sm-5">
                            <h4>Are you sure ?</h4>
                            <p class="text-muted mx-4 mb-0">Are you sure you want to remove this seller ?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn w-sm btn-danger" id="remove-element">Yes, Delete It!</button>
                    </div>
                </div>
    
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- editItemModal -->  
    <div id="addSellerModal" class="modal fade zoomIn" tabindex="-1" aria-labelledby="addSellerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSellerModalLabel">Add Seller</h5>
                    <button type="button" class="btn-close" id="close-addSellerModal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="tablelist-form" novalidate autocomplete="off">
                    <div class="modal-body">
                        <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                        <input type="hidden" id="id-field">
                        <div>
                            <div class="mb-3">
                                <label class="form-label">Seller Logo <span class="text-danger">*</span></label>
                                <div class="dropzone sellers-dropzone text-center" style="min-height: 180px;">
                                    <div class="dz-message">
                                        <div class="mb-3">
                                            <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
                                        </div>
                            
                                        <h5>Drop files here or click to upload.</h5>
                                    </div>
                                </div>
                                <ul class="list-unstyled mb-0" id="dropzone-preview">
                                    <li class="mt-2" id="dropzone-preview-list">
                                        <!-- This is used as the file preview template -->
                                        <div class="border rounded">
                                            <div class="d-flex p-2">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar-sm bg-light rounded">
                                                        <img data-dz-thumbnail class="img-fluid rounded d-block" src="{{url_for('static' ,filename='images/new-document.png')}}" alt="Dropzone-Image" >
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="pt-1">
                                                        <h5 class="fs-md mb-1" data-dz-name>&nbsp;</h5>
                                                        <p class="fs-sm text-muted mb-0" data-dz-size></p>
                                                        <strong class="error text-danger" data-dz-errormessage></strong>
                                                    </div>
                                                </div>
                                                <div class="flex-shrink-0 ms-3">
                                                    <button data-dz-remove class="btn btn-sm btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- end dropzon-preview -->
                            </div>

                            <div class="mb-3">
                                <label for="seller-Name" class="form-label">Seller Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="seller-Name" placeholder="Seller name" required >
                            </div>
        
                            <div class="mb-3">
                                <label for="owner-Name" class="form-label">Owner Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="owner-Name" placeholder="Owner name" required >
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email" required >
                            </div>
        
                            <div class="mb-3">
                                <label for="seller-phone" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="seller-phone" placeholder="Enter phone no." required >
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-ghost-danger" data-bs-dismiss="modal"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary submit-btn">Add</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock extra_content %}

{% block extra_js %}
    
    <!-- apexcharts -->
    <script src="{{url_for('static' ,filename='libs/apexcharts/apexcharts.min.js')}}"></script>

    <!-- dropzone js -->
    <script src="{{url_for('static' ,filename='libs/dropzone/dropzone-min.js')}}"></script>

    <!-- Ecommerce sellers init JS -->
    <script src="{{url_for('static' ,filename='js/pages/ecommerce-sellers.init.js')}}"></script>

{% endblock extra_js %}

